.login {
    position: absolute;
    right: 20px;
    top: 10px;
    background: transparent;
    border: none;
    cursor: pointer;
    color:grey;
    font-weight: 700;
    float:right;
  }
  
.welcomeUser {

  float:right;
}